.qq-slider{
	width: 100%;
	overflow: hidden;
	.qq-slider-wrap{
		display: flex;
		transition: all 0.8s;
		.qq-slider-item{
			flex-basis: 100%;
			a{
				display: block;
				img{
					width: 100%;
				}
			}
	    }
	}
}
